.header1 {
    display: flex; 
    font-family: sans-serif; 
    width: 100%;
    align-items: center;
    justify-content: space-between;}



.container-fluid {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0vw;  
}

.tableFooter{ width: 100vw;}



/* tags*/


html{ background-color: rgb(237, 238, 238); margin: 0%;}
body { margin: 0vw; }
header { background-color: coral;padding: 2px; grid-column-start: 1; grid-column-end: 5; color: white; }
nav { display: inline; }
ul { list-style: none; }
p { font-family: sans-serif;}
footer { width: 100%; font-size: x-small; display: grid ; grid-template-columns: 1fr; padding: 10px 10px 10px 50px;}
main { color: white; grid-column-start: 2; grid-column-end: 6;grid-row-start: 2; grid-row-end: 3;}
aside { background-color: darkseagreen; grid-column-start: 1; grid-column-end: 2; grid-row-start: 2; grid-row-end: 3; height: 61vh;}
a 



